.footer {
  background-color: collection-color(footer-bg-color);
  // .footer__logo
  &__logo {
    span {
      display: inline-block;
      color: #ffff;
      margin-bottom: 20px;
    }
    @include for-size(desktop) {
      margin: 0 0 0 0;
    }
  }

  // .footer_row
  &_row {
    padding: 60px 0;
    text-align: center;
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include for-size(desktop) {
      display: flex;
    }
  }

  // .footer__contacts
  &__contacts {
    font-style: normal;
    @include for-size(to-tablet) {
      margin-bottom: 60px;
    }
    @include for-size(tablet) {
      margin-right: 165px;
    }

    @include for-size(desktop) {
      /* padding: 0 0 60px 0; */
      margin-right: 86px;
    }
  }
  .f-contacts {
    // .f-contacts__list
    @include for-size(desktop) {
      &__list {
        padding: 0;
        li {
          display: block;
          margin: 0 0 9px 0;
        }
        li:last-child {
          margin: 0;
        }
      }
    }

    // .f-contacts__link
    &__link {
      @include font-modify(
        #{collection-color(social--link--color)},
        14,
        400,
        0.03em,
        24
      );
      transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        color: collection-color(action-color);
      }
    }
  }

  // .footer__social
  &__social {
    display: block;
    text-align: center;
    @include for-size(desktop) {
      /* margin: 71px 0 0 0; */
    }
  }

  // .footer__subscriptoin-email
  &__subscriptoin-email {
    @include for-size(to-desktop) {
      margin-top: 60px;
    }
    @include for-size(desktop) {
      /*  margin: 71px 0 0 0; */
      margin-left: auto;
    }
  }
}
.subscr-email {
  &__form {
    @include for-size(tablet) {
      padding: 0 20px;
    }
  }

  // .subscr-email__title
  &__title {
    color: #ffff;
    margin-bottom: 20px;
  }

  // .subscr-email__form
  &__form {
    @include for-size(desktop) {
      display: flex;
    }
  }

  // .subscr-email__field
  &__field {
  }

  // .subscr-email__input
  &__input {
    width: 100%;
    margin-bottom: 20px;
    @include for-size(tablet) {
      width: 450px;
      margin-bottom: 20px;
    }
    @include for-size(desktop) {
      width: 358px;
      margin-right: 12px;
    }
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 14.8px 0;

    @include font-modify(currentColor, 16, 400, 0.03em, 20);

    &::placeholder {
      font-size: 16px;
      line-height: calc(20 / 16);
      letter-spacing: 0.03em;
      padding-left: 16px;
    }
  }

  // .subscr-email__label
  &__label {
  }

  // .subscr-email__btn
  &__btn {
    @extend ._flex-center;
    @include font-modify(#ffff, 16, 700, 0.06em, 30);
    margin: 0 auto;
    &:active {
      background-color: collection-color(btn-active-color);
    }
    @include for-size(tablet) {
      /*   */
    }
    @include for-size(desktop) {
      /*   */
    }
  }

  // .subscr-email__icon
  &__icon {
    margin-left: 10px;
    color: #ffff;
  }
}
