// ._backdrop
._backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  @include add-size(100%, 100%);
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s;
  @include for-size(mobile-only) {
    padding: 20px 15px;
  }
}

.modal {
  // .modal_container
  &_container {
    margin: 0 auto;
  }

  // .modal__order
  &__order {
    @include сentering-xy(fixed);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: collection-shadows(modal-shadow);
    border-radius: 4px;
    padding: 40px 40px;
    @include for-size(to-mobile) {
      padding: 15px 40px;
    }
    @include for-size(mobile) {
      @include add-size(450px, 609px);
    }

    @include for-size(tablet) {
      @include add-size(528px, 581px);
    }
  }

  // .modal__form
  &__form {
    display: flex;
    flex-direction: column;
  }

  // .modal__title
  @include for-size(to-mobile) {
    @include font-modify(#212121, 17, 700, 0.03em, 20);
  }
  &__title {
    @include font-modify(#212121, 20, 700, 0.03em, 23);
    text-align: center;
    margin-bottom: 30px;
  }

  // .modal__checkbox
  &__checkbox {
    &:checked ~ .form__label--checkbox::before {
      border: 2px solid collection-color(action-color);
      border-radius: 2px;
      background-color: collection-color(action-color);
      background-image: url(../images/icons/control/vector-check.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.form {
  // .form__list
  &__list {
    .form__item:not(:last-child) {
      margin-bottom: 28px;
    }
    .form__item:last-child {
      margin-bottom: 29px;
    }
  }

  // .form__item
  &__item {
  }

  // .form__field
  &__field {
    position: relative;
    &:focus-within > .form__icon {
      fill: collection-color(action-color);
    }
  }

  // .form__input
  &__input {
    @include add-size(100%, 40px);
    padding-left: 42px;
    color: #757575;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    &:focus {
      outline-color: collection-color(action-color);
      color: #757575;
    }
  }

  // .form__label
  &__label {
    position: absolute;
    top: -29px;
    left: 0;

    @include font-modify(#757575, 12, 400, 0.01em, 14);
  }

  // .form__icon
  &__icon {
    position: absolute;
    display: block;
    top: 70%;
    left: 12px;
    transform: translateY(-64%);
  }

  // .form__field--checkbox
  &__field--checkbox {
    margin: 0 auto;
  }

  // .form__label--checkbox
  &__label--checkbox {
    @include font-modify(#757575, 12, 400, 0.03em, 14);

    @include for-size(tablet) {
      @include font-modify(#757575, 14, 400, 0.03em, 24);
    }

    cursor: pointer;
    &::before {
      content: " ";
      display: inline-block;
      vertical-align: -11%;
      @include add-size(16px, 15px);
      border: 2px solid #212121;
      border-radius: 2px;
      margin-right: 8px;
      cursor: pointer;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  // .form__submit-btn
  &__submit-btn {
    margin: 0 auto;
    cursor: pointer;
    &:disabled {
      background-color: #757575;
    }
    &:active {
      background-color: collection-color(btn-active-color);
    }
  }
}

.comment {
  @include for-size(to-mobile) {
    @include add-size(100%, 70px);
  }
  @include add-size(100%, 120px);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  &::placeholder {
    @include font-modify(rgba(117, 117, 117, 0.5), 12, 400, 0.01em, 14);
  }
  & ~ .form__label {
    @include for-size(to-mobile) {
      top: -77px;
    }
    top: -124px;
  }
  &:focus {
    outline-color: collection-color(action-color);
    color: #757575;
  }
}
.checkbox-link {
  display: inline;
  @include font-modify(#{collection-color(action-color)}, 12, 400, 0.03em, 14);

  @include for-size(tablet) {
    @include font-modify(
      #{collection-color(action-color)},
      14,
      400,
      0.03em,
      24
    );
  }

  text-decoration-line: underline;
}

.btn-close {
  position: absolute;
  top: 7px;
  right: 6px;
  @include add-size(30px, 30px);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  .icon {
    fill: #000;
  }
  &:hover {
    .icon {
      fill: collection-color(action-color);
    }
  }
}

.btn-icon {
  fill: currentColor;
}
